header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(4, 42, 126, 0.8);
    min-height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px 34px;
    z-index: 1000; 
    
}

a{
    color:#ffffff;
    text-decoration: none;
    font-size: 25px;
    
}

.login-button {
    
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    
    cursor: pointer;
  }
  

  /* Adicione esta regra de mídia ao seu arquivo de estilo CSS */
@media (max-width: 768px) {
  .login-button {
    padding: 0.2rem 0.2rem; /* Reduza ainda mais o padding do botão em telas menores */
    font-size: 0.8rem; /* Reduza o tamanho da fonte do botão em telas menores */
  }

  .user-info-authenticated {
    flex-direction: column; /* Alinhe os itens verticalmente em telas menores */
    align-items: center; /* Centralize os itens horizontalmente em telas menores */
  }

  .logout-button {
    margin-top: 0.5rem; /* Adicione um espaço entre o botão de login e o botão de logout */
  }
}
